@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.aMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 480px;
    background-color: transparent;
    font-size: 16.5px;
  }
.about_content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100% ;
  background-color: transparent;
}
  .left_about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
  }

.right_about{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
}

.img_about{
  position: relative;
  width: 65%;
  height: 80%;
  border-radius: 50%;
  animation: img-in 2500ms ;
}

@keyframes img-in{
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75
  }
  100%{
    opacity: 1;
  }
}

.about_me_heading{
  display: flex;
  font-size: 260%;
  font-weight: 500;
  font-family:'Lobster',cursive ;
  animation: heading-rotate 500ms;
}
.about_me_desc{
  display: flex;
  font-size:120% ;
  font-weight: 500;
  margin-top: 5%;
}

.key_value{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: transparent;
  
}

.title{
  display: flex;
  align-items:  flex-start;
  width: 25%;
  height: 100%;
  background-color: white;
  color: black;
  animation: title-in 600ms ease-in-out;
}
.details{
  display: flex;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  background-color: white;
  animation: details-in 1000ms ease-in-out;
}
.title_contents{
  display: flex;
  margin-top: 25px;
  line-height: 35px;
  font-weight: 630;
  font-size: 110%;
  color: blue;
}
.details_content{
  display: flex;
  margin-top: 25px;
  line-height: 35px;
  font-weight: 630;
  font-size: 110%;
  color: black;
}
.details480px{
  visibility: hidden;
}

@keyframes title-in{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes details-in{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes heading-rotate{
  0%{
    transform: rotateZ(90deg);
  }
  100%{
    transform: scaleX(2);
  }
}

@media only screen and (max-width:480px){
  .aMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    font-size: 16.5px;
  }
  .about_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100% ;
    background-color: transparent;
  }
  .about_me_heading{
    position: absolute;
    margin-top: -0px;
    display: flex;
    font-size: 260%;
    font-weight: 500;
    font-family:'Lobster',cursive ;
    animation: heading-rotate 500ms;
  }
  .img_about{
    position: relative;
    width: 120%;
    height: 100%;
    border-radius: 50%;
    animation: img-in 2500ms ;
    top: 10px;
  }
  .about_me_desc{
    display: flex;
    position: absolute;
    width: 100%;
    font-size:100% ;
    font-weight: 500;
    margin-top: 75px;
    margin-left: 5px;
    background-color: transparent;
  }
  .key_value{
    position: absolute;
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    font-size: 16.5px;
    background-color: transparent;
   
  
    
  }
  
  .title{
    display: flex;
    visibility: visible;
    
    width: 40%;
    height: 100%;
    background-color: white;
    font-size: 90%;
    color: black;
    animation: title-in 600ms ease-in-out;
  }
  .details{
    display: flex;
    visibility: visible;
    
    width: 60%;
    height: 50%;
    background-color: white;
    font-size: 80%;
    animation: details-in 1000ms ease-in-out;
    
  }
  
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 8%;
    margin-top: -1900px;
  }
  
  
}