@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.aMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 480px;
    background-color: transparent;
    font-size: 16.5px;
  }
.about_content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100% ;
  background-color: transparent;
}
  .left_about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
  }

.right_about{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 50%;
    height: 100%;
}

.img_about{
  position: relative;
  width: 65%;
  height: 100%;
  border-radius: 50%;
  animation: img-in 2500ms ;
  margin-top: 10%;
}

@keyframes img-in{
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.50;
  }
  75%{
    opacity: 0.75
  }
  100%{
    opacity: 1;
  }
}

.about_me_heading{
  display: flex;
  font-size: 260%;
  font-weight: 500;
  font-family:'Lobster',cursive ;
  animation: heading-rotate 500ms;
}
.about_me_desc{
  display: flex;
  font-size:120% ;
  font-weight: 500;
  margin-top: 5%;
}

.key_value{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: transparent;
  
}

.title{
  display: flex;
  justify-content: flex-start;
  width: 30%;
  height: 120%;
  background-color: transparent;
  color: black;
  animation: title-in 600ms ease-in-out;
}
.details{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-color: white;
  animation: details-in 1000ms ease-in-out;
}
.title_contents{
  display: flex;
  flex-direction: column;  
  margin-top: 25px;
  line-height: 10px;
  font-weight: 630;
  font-size: 110%;
  color: blue;
}
.title_contents_name,.title_contents_city,.title_contents_dob,
.title_contents_ca,.title_contents_langKnown,.title_contents_interest,
.title_contents_hobbies{
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.title_contents_nameHead,.title_contents_cityHead
{
  display: flex;
  padding: 2px;
  width: 50%;
  height: 20%;
  background-color: orange;
  border-radius: 10px;
  color: black;
  font-weight: 730;
  align-items: center;
  justify-content: center;
  
}

.title_contents_dobHead,.title_contents_caHead,
.title_contents_langHead,.title_contents_intHead,
.title_contents_hobbHead{
  display: flex;
  padding: 2px;
  width: 110%;
  height: 20%;
  background-color: orange;
  border-radius: 10px;
  color: black;
  font-weight: 730;
  align-items: center;
  justify-content: center;
  
}

.details_content{
  display: flex;
  margin-top: 25px;
  line-height: 35px;
  font-weight: 630;
  font-size: 110%;
  color: black;
}


@keyframes title-in{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes details-in{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.footer_about{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top:10%;
  width: 100%;
  height: 15%;
  background-color: #333;
}

@keyframes heading-rotate{
  0%{
    transform: rotateZ(90deg);
  }
  100%{
    transform: scaleX(2);
  }
  
}

@media only screen and (max-width:480px){
  .aMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    font-size: 16.5px;
  }
  .about_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100% ;
    background-color: transparent;
  }
  .about_me_heading{
    position: absolute;
    margin-top: -0px;
    display: flex;
    font-size: 260%;
    font-weight: 500;
    font-family:'Lobster',cursive ;
    animation: heading-rotate 500ms;
  }
  .img_about{
    position: relative;
    width: 120%;
    height: 100%;
    border-radius: 50%;
    animation: img-in 2500ms ;
    top: 10px;
  }
  .about_me_desc{
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: justify;
    width: 95%;
    font-size:100% ;
    font-weight: 500;
    margin-top: 75px;
    margin-left: 5px;
    background-color: transparent;
  }
  .key_value{
    position: absolute;
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    font-size: 16.5px;
    background-color: transparent;
   
  
    
  }
  
  .title{
    display: flex;
    visibility: visible;
    margin-top: 10px;
    width: 100%;
    height: max-content;
    background-color: transparent;
    font-size: 110%;
    color: black;
    animation: title-in 600ms ease-in-out;
  }
  .title_contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 100%;
    margin-top: 0px;
    line-height:25px;
    font-weight: 790;
    font-size: 100%;
    color: black;
    
    background-color: transparent;
    
  }
  .title_contents_name,.title_contents_city,.title_contents_dob,
  .title_contents_ca{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    background-color: transparent;
    width: 60%;
    height: max-content;
    color: black;
    background-color: black;
    color: orange;
    padding: 6px;
    border-radius: 20px;
    font-weight: 630;
    
  }

  .title_contents_langKnown,.title_contents_interest,
  .title_contents_hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    background-color: transparent;
    width: 60%;
    height: max-content;
    background-color: black;
    color: orange;
    padding: 6px;
    border-radius: 20px;
    font-weight: 630;
    
  }
 
  .details{
    display: flex;
    visibility: visible;
    
    width: 0%;
    height: 50%;
    background-color: white;
    font-size: 80%;
    animation: details-in 1000ms ease-in-out;
    
  }
  .details_content{
    display: none;
    background-color: red;
    width: 0px;
    height: 0px;
  }
  .footer_about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 8%;
    margin-top: 1330px;
  }
  
  
}

@media only screen and (max-width:768px) and (min-width:481px){
  .aMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    font-size: 16.5px;
  }
  .about_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100% ;
    background-color: transparent;
  }
  .about_me_heading{
    position: absolute;
    margin-top: 10px;
    display: flex;
    font-size: 260%;
    font-weight: 500;
    font-family:'Lobster',cursive ;
    animation: heading-rotate 500ms;
  }
  .img_about{
    position: relative;
    width: 140%;
    height: 100%;
    border-radius: 50%;
    animation: img-in 2500ms ;
    top: 10px;
  }
  .about_me_desc{
    display: flex;
    position: absolute;
    width: 100%;
    font-size:110% ;
    font-weight: 500;
    margin-top: 75px;
    margin-left: 5px;
    background-color: transparent;
  }
  .key_value{
    position: absolute;
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    font-size: 16.5px;
    background-color: transparent;
   
  
    
  }
  
  .title{
    display: flex;
    visibility: visible;
    
    width: 40%;
    height: 100%;
    background-color: white;
    font-size: 110%;
    color: black;
    animation: title-in 600ms ease-in-out;
  }
  .details{
    display: flex;
    visibility: visible;
    
    width: 60%;
    height: 50%;
    background-color: white;
    font-size: 100%;
    animation: details-in 1000ms ease-in-out;
    
  }
  
  .footer_about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10%;
    margin-top: 1100px;
    
  }
  
  
}