@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.cMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-size: 16.5px;
  }
  .contact_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .contact_content_left{
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    background-color: transparent;
  }
  .contact_content_right{
      display:flex ;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      height: 100%;
      background-color: transparent;
  }

.ig{
  display: flex;
  position: relative;
  width: 40%;
  height: 45%;
  border-radius: 50%;
  background-color: #333;
}

.ic1{
  display: flex;
  position: relative;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background-color: #333;
  animation: ic1-in 1000ms ease-in-out;
}
.ic2{
  display: flex;
  position: relative;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background-color: #333;
  animation: ic1-in 1400ms ease-in-out;
}
.ic3{
  display: flex;
  position: relative;
  width: 20%;
  height: 30%;
  border-radius: 50%;
  background-color: #333;
  animation: ic1-in 1800ms ease-in-out;
}
.ic4{
  display: flex;
  position: relative;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #333;
  animation: ic1-in 2200ms ease-in-out;
}
.ic5{
  display: flex;
  position: relative;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #333;
  animation: ic1-in 2600ms ease-in-out;
}
.image__img {
	display: block;
	width: 100%;
}

.image__overlay1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: orange;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay1--blur {
	backdrop-filter: blur(5px);
}

.image__overlay1--primary {
	background:orange;
}

.image__overlay1>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay1:hover {
	opacity: 1;
}

.image__overlay1:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
  color: black;
}

.image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
  color: black;
}

a{
  font-size: 130%;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: 'Lobster',cursive;
}
a:hover{
  color: white;
}

@keyframes ic1-in{
  0%{
    transform: translateY(70%);
  }
  50%{
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(0%);
  }
}


.email{
  font-size: 100%;
}

@media only screen and (max-width:480px){
  .contact_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .contact_content_left{
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .contact_content_right{
      display:flex ;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      background-color: transparent;
  }
  .image__title {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  
  .image__description {
    font-size: 10%;
    margin-top: 0.25em;
    color: red;
  }
  a{
    font-size: 90%;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-family: 'Lobster',cursive;
  }
  .image__overlay1--primary {
    background:orange;
    color: red;
    font-size: 80%;
  }
}