.fMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    background-color: #333;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 550;
    color: orange;
    margin-top: 2%;
    
}

.topic1{
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.topic2{
    align-items: center;
    justify-content: center;
}