@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.hMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-size: 16.5px;
  }
.home_content{
    display: flex;
    width: 100%;
    height:80%;
    background-color: transparent;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: transparent;
}
.right{
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    height: 100%;
    background-color: transparent;
}
.left_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: transparent;
}
.left_content1{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 45%;
    background-color: orange;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-family: 'Lobster', cursive;
    animation : left1-load 800ms ease-in-out;
}
.left_content2{
    display: flex;
    width: 70%;
    height: 20%;
    background-color: #333;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    
}
.p1{
    font-size: 150%;
}

.right_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    background-color: orange;
    border-radius: 35%;
    font-size: 230%;
    font-weight: 700;
    padding-left: 15px;
    
}

.image_back{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 50%;
}
.image_mine{
    position: absolute;
    top: 150px;
    right: 74px;
    width: 30%;
    height: 60%;
}

@keyframes left1-load{
    0% {
        transform: translateY(-100%);
    }

    100%{
        transform:translateY(0);
    }
}
