/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    width: 120%;
    background-color: #333;
    overflow: hidden;
    font-size: 16.5px;
    animation: topnav-load 700ms ease-in;
    margin-top: 10px;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 140%;
    font-weight: 100;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: orange;
    color: black;
    font-size: 160%;
  }

  @keyframes topnav-load{
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

  @media only screen and (max-width: 480px){
    .navbar{
      display: flex;
      flex-direction: row
    }
    .navbar_text{
      width: 10%;
      font-size:20px ;
      margin-left: -90px;
    }
    .topnav {
      display: flex;
      width: 110%;
      height: 50px;
      background-color: #333;
      overflow: hidden;
      font-size: 16.5px;
      animation: topnav-load 700ms ease-in;
      margin-top: 10px;
      align-items: center;
    }
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 10px 12px;
      text-decoration: none;
      font-size: 120%;
      font-weight: 100;
    }
    .topnav a.active {
      background-color: orange;
      color: black;
      font-size: 130%;
    }
  }