@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.pMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 800px;
    background-color: transparent;
    font-size: 16.5px;
    scroll-behavior: smooth;
  }

  .projects_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    background-color: transparent;
    gap: 3%;
    animation: content_in 1000ms ease-in-out;
  }
  .projects_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    font-weight: 500;
    font-family: 'Lobster',cursive;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .p_content_1,.p_content_2,.p_content_3,.p_content_4,.p_content_5,.p_content_6,.p_content_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: transparent;
  }
  .p_content_7,.p_content_8,.p_content_9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: transparent;
  }
  .p_content_1_image{
    display: flex;
    position: relative;
    width: 90%;
    height:90%;
    background-color: orange;
    border-radius: 10%;

  }
  .p_content_2_image{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height:90%;
    background-color: transparent;
    border-radius: 10%;

  }
  .p_content_1_details{
    display: flex;
    width: 90%;
    height:20%;
    background-color: transparent;
    border-radius: 0%;
    font-size: 150%;
    font-weight: 700;
    align-items: center;
    justify-content: center;

  }

  .footer{
    width: 100%;
    height: 20%t;
    background-color: #333;
    margin-top: 430px;
  }

  .image__img {
    display: block;
    width: 100%;
    border-radius: 10%;
  }
  
  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: orange;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  .image__overlay--blur {
    backdrop-filter: blur(5px);
  }
  
  .image__overlay--primary {
    
    background:transparent ;
  }
  
  .image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  
  .image__overlay:hover {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image__overlay:hover>* {
    transform: translateY(0);
  }
  
  .image__title {
    font-size: 2em;
    font-weight: bold;
    color: black;
  }
  
  .image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    color: black;
  }

  .project{
    height: 40%;
    width: 70%;
    border-radius: 20px;
    font-size: 60%;
    font-weight: 600;
    background-color: orange;
    margin-left: 10%;
  }

  .sCode{
    height: 50%;
    width: 70%;
    border-radius: 20px;
    font-size: 60%;
    font-weight: 600;
    background-color: orange;
    margin-left: 10%;
  }

  a{
    color: black;
  }
  a:hover{
    color: blue;
  }

  .arrow{
    width: 10%;
  }

  .gconsole,.github{
    width: 50%;
    height: 20%;
    border-radius: 20%;
    font-size: 110%;
    background-color: skyblue;
    color: white;
    gap: 2px;
  }
  .project{
    width: 120%;
    height: 100%;
  }
  .qmania,.calcButton{
    height: 50%;
    width: 70%;
    border-radius: 20px;
    font-size: 60%;
    font-weight: 600;
    background-color: orange;
    margin-left: 10%;
  }

  @keyframes content_in{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.5;
    }
    75%{
      opacity: 0.75;
    }
    100%{
      opacity: 1;
    }
  }
  

  @media only screen and (max-width:480px){
    .projects_heading{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 220%;
      font-weight: 500;
      font-family: 'Lobster',cursive;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    .p_content_1,.p_content_2,.p_content_3,.p_content_4,.p_content_5,.p_content_6,.p_content_6{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 70%;
      background-color: transparent;
    }
    .p_content_1_details{
      display: flex;
      width: 100%;
      height:20%;
      background-color: transparent;
      border-radius: 0%;
      font-size: 130%;
      font-weight: 700;
      align-items: center;
      justify-content: center;
  
    }
    .p_content_7{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 20%;
      background-color: transparent;
    }
    .p_content_8,.p_content_9{
      visibility: hidden;
      height: 0%;
      width: 0%;
    }
    .footer{
      display: flex;
      width: 100%;
      height: 100%;
      top: 2850px;
      
    }
    .arrow{
      width: 10%;
    }
    .gconsole,.github{
      width: 50%;
      height: 50%;
      border-radius: 20%;
      font-size: 110%;
      background-color: skyblue;
      color: white;
      gap: 2px;
    }
  }

  @media only screen and (max-width:768px) and (min-width:481px){
    .projects_heading{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 220%;
      font-weight: 500;
      font-family: 'Lobster',cursive;
      margin-top: 4%;
      margin-bottom: 4%;
    }
    .p_content_1,.p_content_2,.p_content_3,.p_content_4,.p_content_5,.p_content_6,.p_content_6{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 70%;
      background-color: transparent;
    }
    .p_content_1_details{
      display: flex;
      width: 100%;
      height:20%;
      background-color: transparent;
      border-radius: 0%;
      font-size: 130%;
      font-weight: 700;
      align-items: center;
      justify-content: center;
  
    }
    .p_content_7{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 20%;
      background-color: transparent;
    }
    .p_content_8,.p_content_9{
      visibility: hidden;
      height: 0%;
      width: 0%;
    }
    .footer{
      display: flex;
      width: 100%;
      height: 100%;
      top: 2850px;
      
    }
    .arrow{
      width: 10%;
    }
    .gconsole,.github{
      width: 60%;
      height: 60%;
      border-radius: 20%;
      font-size: 110%;
      background-color: skyblue;
      color: white;
      gap: 2px;
    }
  }