@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.sMain{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-size: 16.5px;
    text-align: center;
  }

.skills_content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.skills_content1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  background-color: transparent;
}

.skills1,.skills2{
  display: flex;
  flex-direction: column;
  width:50%;
  height: 100%;
  background-color: transparent;
}

.skills1_heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  font-weight: 500;
  font-family: 'Lobster', cursive;
  background-color: transparent;
  width: 100%;
  height: 20%;
}

.skills1_content{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  height: 80%;
}
.skills1_content_row1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: transparent;
}
.skills1_content_row2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: transparent;
}
.row1_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70%;
  background-color: transparent;
}
.row1_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70%;
  background-color: transparent;
}
.row1_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70%;
  background-color: transparent;
}
.one{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border-radius: 60%;
}
.two{
  font-size: 130%;
  font-weight: 700;
}
.three{
  font-size: 70%;
  font-weight: 400;
}
.icons{
  width: 80%;
  height: 80%;
  border-radius: 60%;
}
.one:hover{
  animation: java-move 300ms ease-in;
}


@keyframes java-move{
  0% {
    transform: translateY(50%);
  }
  25%{
    transform: translateY(40%);
  }
  50%{
    transform: translateY(30%);
  }
  75%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(0%);
  }
}

